
#####poi-micro
poi-micro/WebContent/WEB-INF/classes
poi-micro/.settings/

####poi-web
poi-web/WebContent/WEB-INF/classes
poi-web/.settings/

####web-role-admin
web-role-admin/WebContent/WEB-INF/classes
web-role-admin/.settings/

*.class
*/.settings/*