/*------------------- 
Copyright(c) Kadang.Com Inc All rights reserved v1.0 2012/07/23  by 希子
-------------------*/
/*--- reset ---*/
	html{overflow-x: hidden;}
    html,body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,iframe,table,caption,tbody,tfoot,thead,th,td{margin:0;padding:0;}
    *html, *html body{background-image:url(about:blank);background-attachment:fixed;}
    ol,ul{list-style:none;}
    fieldset,abbr,acronym{border:0;}
    img{height:auto;border:0;vertical-align:top;}
    address,caption,cite,code,dfn,i,em,b,s,q,th,var,optgroup{font-style:normal;}
    blockquote,q{quotes:none;}
    blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
    table{border-collapse:collapse;border-spacing:0;}
    caption,th,td{text-align:left;}
    input,select,textarea{vertical-align:middle;}
    h1,h2,h3,h4,h5,h6,b,s,i{font-weight:normal;text-decoration:none;}
/*--- fixed position ---*/
	.tal{text-align:left;}
    .tar{text-align:right;}
    .tac{text-align:center;}
	.vat{vertical-align:top;}
    .bc{margin-left:auto;margin-right:auto;}
    .fl{float:left;display:inline;}
    .fr{float:right;display:inline;}
    .clb{font-size:0;clear:both;height:0;line-height:0;}
    .cl{clear:both;}
    .ovh{overflow:hidden;*zoom:1;}
    .posr{position:relative;}
    .posa{position:absolute;}
	.clearfix:before,.k_clearfix:after{ content: "."; display: block; height: 0; visibility: hidden; }
	.clearfix:after {clear: both;} 
	.clearfix {*zoom: 1;} /* IE < 8 */
/*--- side range ---*/
	.m10{margin:10px;}
    .m15{margin:15px;}
    .m20{margin:20px;}
    .m25{margin:25px;}
    .m30{margin:30px;}
    .mt5{margin-top:5px;}
    .mt10{margin-top:10px;}
    .mt15{margin-top:15px;}
    .mt20{margin-top:20px;}
    .mt25{margin-top:25px;}
    .mt30{margin-top:30px;}
    .ml5{margin-left:5px;}
    .ml10{margin-left:10px;}
    .ml15{margin-left:15px;}
    .ml20{margin-left:20px;}
    .ml25{margin-left:25px;}
    .ml30{margin-left:30px;}
    .mr5{margin-right:5px;}
    .mr10{margin-right:10px;}
    .mr15{margin-right:15px;}
    .mr20{margin-right:20px;}
    .mr25{margin-right:25px;}
    .mr30{margin-right:30px;}
    .mb5{margin-bottom:5px;}
    .mb10{margin-bottom:10px;}
    .mb15{margin-bottom:15px;}
    .mb20{margin-bottom:20px;}
    .mb25{margin-bottom:25px;}
    .mb30{margin-bottom:30px;}
    .p10{padding:10px;}
    .p15{padding:15px;}
    .p20{padding:20px;}
    .p25{padding:25px;}
    .p30{padding:30px;}
    .pt5{padding-top:5px;}
    .pt10{padding-top:10px;}
    .pt15{padding-top:15px;}
    .pt20{padding-top:20px;}
    .pt25{padding-top:25px;}
    .pt30{padding-top:30px;}
    .pl5{padding-left:5px;}
    .pl10{padding-left:10px;}
    .pl15{padding-left:15px;}
    .pl20{padding-left:20px;}
    .pl25{padding-left:25px;}
    .pl30{padding-left:30px;}
    .pr5{padding-right:5px;}
    .pr10{padding-right:10px;}
    .pr15{padding-right:15px;}
    .pr20{padding-right:20px;}
    .pr25{padding-right:25px;}
    .pr30{padding-right:30px;}
    .pb5{padding-bottom:5px;}
    .pb10{padding-bottom:10px;}
    .pb15{padding-bottom:15px;}
    .pb20{padding-bottom:20px;}
    .pb25{padding-bottom:25px;}
    .pb30{padding-bottom:30px;}
/*--- font type setting ---*/
    .f13{font-size:13px;}
    .f14{font-size:14px;}
    .f16{font-size:16px;}
    .f18{font-size:18px;}
    .fwb{font-weight:bold;}
    .fwn{font-weight:normal;}
    .tdu{text-decoration: underline;}
/*--- hide or show ---*/
	.dn{display:none;}
	.db{display:block;}
	.dib{display: inline-block;*display: block;*zoom:1}
/*--- width or height ---*/
	.w{width:100%}
    .h{height:100%;}
    .lh15{height:15px;line-height:15px;}
    .lh18{height:18px;line-height:18px;}
    .lh20{height:20px;line-height:20px;}
    .lh25{height:25px;line-height:25px;}
    .lh30{height:30px;line-height:30px;}